@model IEnumerable<RentACar.Entity.Entities.Car>

<h2>Cars List</h2>

<p>
    <a asp-action="Create">Add New Car</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Brand</th>
            <th>Model</th>
            <th>Year</th>
            <th>Daily Price</th>
            <th>Available</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@(car.Brand != null ? car.Brand.Name : "Brand yok")</td>
                <td>@car.Model</td>
                <td>@car.Year</td>
                <td>@car.DailyPrice</td>
                <td>@car.Available</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@car.CarId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@car.CarId">Delete</a> 
                </td>
            </tr>
        }
    </tbody>
</table>

